// .header {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   // background: #0f4848;
//   grid-column: full-start / full-end;
//   min-height: 70rem;
//   // display: flex;


//   &__main {
//     display: flex;
//     width: 100%;
//     height: 100%;
//   }

//   &__image-container {
//     flex: 0 0 60%;
//   }

//   &__image {
//     // position: absolute;
//     top: 20%;
//     left: 0;
//     height: 50rem;
//     // width: 50rem;
//     z-index: 100;
//     position: relative;
//     width: 100%;
//     // height: 100vh;
//   }

//   &__text {
//     flex: 1;
//   }

// //   &__animated div {
// //     position: absolute;
// //     width: 6rem;
// //     height: 6rem;
// //     background-color: red;
// //     border: 6px solid(255,255,255,.8);
// //     z-index: 100;
// //   }

// //   &__animated div:nth-child(1) {
// //     top: 12%;
// //     left: 42%;
// //     animation: animate 10s linear infinite;
// //   }

// //   &__animated div:nth-child(2) {
// //     top: 67%;
// //     left: 10%;
// //     animation: animate 12s linear infinite;
// //   }

// //   &__animated div:nth-child(3) {
// //     top: 80%;
// //     left: 70%;
// //     animation: animate 5s linear infinite;
// //   }

// //   &__animated div:nth-child(4) {
// //     top: 22%;
// //     left: 49%;
// //     animation: animate 8s linear infinite;
// //   }

// //   &__animated div:nth-child(5) {
// //     top: 12%;
// //     left: 42%;
// //     animation: animate 15s linear infinite;
// //   }

// //   &__animated div:nth-child(6) {
// //     top: 75%;
// //     left: 27%;
// //     animation: animate 13s linear infinite;
// //   }

// //   &__animated div:nth-child(7) {
// //     top: 32%;
// //     left: 32%;
// //     animation: animate 6s linear infinite;
// //   }

// //   &__animated div:nth-child(8) {
// //     top: 42%;
// //     left: 62%;
// //     animation: animate 11s linear infinite;
// //   }

// //   &__animated div:nth-child(9) {
// //     top: 52%;
// //     left: 92%;
// //     animation: animate 8s linear infinite;
// //   }

// //   &__animated div:nth-child(10) {
// //     top: 62%;
// //     left: 72%;
// //     animation: animate 10s linear infinite;
// //   }
// // }

// // @keyframes animate {
// //   0% {
// //     transform: scale(0) translateY(0) rotate(0);
// //     opacity: 1;
// //   }

// //   100% {
// //     transform: scale(1.3) translateY(-90px) rotate(360deg);
// //     opacity: 0;
// //   }
// }





// .custom-shape-divider-top-1626353156 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
//   transform: rotate(180deg);
// }

// .custom-shape-divider-top-1626353156 svg {
//   position: relative;
//   display: block;
//   width: calc(172% + 1.3px);
//   height: 700px;
// }

// .custom-shape-divider-top-1626353156 .shape-fill {
//   fill: #0f4848;
// }

.header {
  grid-column: full-start / full-end;
  // height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 10rem;


  &__main {
    // display: flex;
    height: 730px;
    width: 100%;
    background: #051e49;
    background-image: linear-gradient(to left top, #051e49, #0e3475);  
    clip-path: polygon(100% 0, 100% 25%, 36% 100%, 0 100%, 0 0);
    // clip-path: polygon(100% 0, 100% 24%, 30% 96%, 0 90%, 0 0);
    position: relative;
    z-index: 1;
    // overflow: hidden;
  }

  &__text {
    // flex: 0 0 50%;
    width: 50%;
    padding-top: 220px;
    color: #848484;
    color: #fff;
    position: relative;
    padding-left: 4rem;
    // display: flex;
    // flex-direction: column;
  }

  &__text h2 {
    font-size: 3rem;
    font-weight: 500;
    // font-family: 'Commissioner', sans-serif;
    font-family: 'Fira Mono', monospace;
    font-family: azoft;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    // text-align: center;
  }

  &__text p {
    font-size: 1.8rem;
    // text-align: center;
    font-family: charis-r;
    font-weight: 500;
    // text-align: left;
    // justify-content: center;
    margin-bottom: 3rem;
  }

  &__btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 2px solid #6ec1e4;
    color: #6ec1e4;
    display: inline-block;
    font-family: 'Fira Mono', monospace;
    font-family: azoft;
    cursor: pointer;
    transition: ease-in-out .5s;
    // position: relative;
    // z-index: 20;
  }

  &__btn:hover {
    background-color: #6ec1e4;
    color: #fff;
  }

  &__image {
    position: absolute;
    height: 800px;
    width: 800px;
    top: 10%;
    left: 47%;
    z-index: 2;
  }

  
  &__learn-more {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__learn-more a {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    color: #001028;
    font-weight: 600; 
    cursor: pointer;
  }

  &__learn-more-text {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: azoft;
  }

  

  &__learn-more-arrow {
    font-size: 1.5rem;
    animation: top-to-bottom 1.5s ease infinite;
  }

  @keyframes top-to-bottom {
    0% {
      transform: translateY(0) rotate(90deg)
    }
    50% {
      transform: translateY(1rem) rotate(90deg)
    }
    100% {
      transform: translateY(0) rotate(90deg)
    }
  }

  & figure {
    position: absolute;
    
    // z-index: -1;
    // background-image: linear-gradient(30deg, #461f42, #c0fee8);
    // background-image: linear-gradient(30deg, #081a32, #c0fee8);
    // background-image: linear-gradient(30deg, #461f42, #6ec1e4);
    // background-image: linear-gradient(30deg, #081a32, #6ec1e4);

    // opacity: .5;
    z-index: 1;
  }

  &__decor-1 {
    top: 22%;
    left: -6%;
    width: 11vw;
    height: 8vw;
    // background-image: linear-gradient(30deg, #081a32, #c0fee8);
    background: rgba(255, 255, 255, .1);
    opacity: .3;
  }

  &__decor-2 {
    top: 90%;
    left: 0;
    width: 11vw;
    height: 4vw;
    // background-image: linear-gradient(30deg, #081a32, #c0fee8);
    background: rgba(255, 255, 255, .1);

    opacity: .4;
  }

  &__decor-3 {
    top: 90%;
    left: 18%;
    width: 16vw;
    height: 8vw;
    // background-image: linear-gradient(30deg, #c0fee8, #6ec1e4);
    background: rgba(255, 255, 255, .2);

    opacity: .3;
  }

  &__decor-4 {
    top: 20%;
    left: 40%;
    width: 15vw;
    height: 4vw;
    // background-image: linear-gradient(30deg, #081a32, #c0fee8);
    background: rgba(255, 255, 255, .1);

    opacity: .3;
  }

  &__decor-5 {
    top: 15%;
    left: 50%;
    width: 11vw;
    height: 4vw;
    // background-image: linear-gradient(30deg, #081a32, #6ec1e4);
    background: rgba(255, 255, 255, .1);

    opacity: .4;
  }

  &__decor-6 {
    top: 3%;
    left: 85%;
    width: 20vw;
    height: 8vw;
    // background-image: linear-gradient(30deg, #081a32, #c0fee8);
    background: rgba(255, 255, 255, .1);

    opacity: .4;
  }

}
// .header::before {
//   display: block;
//   position: absolute;
//   content: "";
//   background: url('../../public/header-bg2.svg') center bottom no-repeat;
//   left: 0;
//   width: 100%;
//   bottom: 40px;
//   top: auto;
//   height: 150%;
  
// }
// #south-wheel {
//   animation: wheel 2s infinite linear;
//   transform-origin: center;
//   transform-box: fill-box;
// }

// @keyframes wheel {
//   from {
//     transform: rotateZ(0deg);
//   }
//   to {
//     transform: rotateZ(360deg);
//   }
// }