
.calendar-cell {
  min-width: 14rem;
  min-height: 8rem;
  background-color: #1e1f21;
  color: #dddcdd;
}

.calendar-cell--non-weekend {
  background-color: #1e1f21;
}

.calendar-cell--weekend {
  background-color: #272829;
} 

.calendar-cell--current-month {
  color: #dddddd;
  cursor: pointer;
}

.calendar-cell--non-current-month {
  color: #555759;
  pointer-events: none;
} 

.cell-row {
  display: flex;
  justify-content: flex-end;
} 

.cell-row--day {
  padding-bottom: .5rem;
  padding-right: .5rem;
  font-size: 1.5rem;
}

.cell-date {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.cell-date-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-date-wrapper--current {
  background-color: red;
}

// .cell-date-wrapper